body{
    background-color: rgb(34, 32, 32);
    margin: 0;
    padding: 0;
    color: white;
    z-index: 0;
}
.img-box{
    height: 5800px;
    width: 100%;
}
div{
    width: 100%;
    height: 50%;
    background: url("img-box/afgh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: myimg  9s infinite;
}
img{
    height: 110px;
    width: 110px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 30px;
}
span{
    color: black;
    font-size: 29px;
    margin-left: 33px;
}
@keyframes myimg{
    0%{background: url("img-box/afgh-1.jpg"); background-repeat: no-repeat;background-size: cover;width: 100%; height: 2700px;background-attachment:fixed ;}
    100%{background: url("img-box/afgh-2.jpg"); background-repeat: no-repeat;background-size: cover;width: 100%; height: 2700px;background-attachment:fixed ;}
}
