div.contener{
    display: grid;
  grid-template-columns: repeat(8,1fr);
}
div.item{
    font-size: 19px;
  margin-top: 20px;
}
.s{
    font-size: 10px;
}
.b{
background-color: rgb(54, 146, 54);
border-radius: 40%;
padding: 9px 20px;
border: 1px solid rgb(62, 163, 62);
color: white;
}

.c{
    background-color: rgb(182, 181, 181);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 40%;
    padding: 9px 20px;
    color: white;
}
.all-box{


}




.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 1.5fr 1.3fr 1fr;
    grid-template-areas: "div div div div div" "nav nav nav nav nav" 
   "sidbar main main main main" "sidebar content1 conten" ;
}