body{
    background-color: rgb(34, 32, 32);
    margin: 0;
    padding: 0;
    color: white;
}
/* navar style stsrt */
.aro{
    font-size: 45%;
margin-left: 23px;
margin-top: 16px;
}
.span-1{
    font-size: 20px;
margin-left: 9px;

}
.span-a{
    float: right;
    font-size: 50px;
    margin: 20px 25px;
}
.span-b{
    float: right;
    font-size: 50px;
    margin: 20px 25px;
}
/* navar style ended */
/* profiel style start */
.img-1{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 2px solid rgb(247, 169, 247);
    padding: 3px;
    margin-top: 12px;
    margin-left: 27px;

}
.span-2{
margin-top: 50px;
margin-left: 70px;
font-size: 25px;
}
/* profiel style ended */
/* contect style start */
.strong-1{
    margin-top: 50px;
margin-left: 5px;
font-size: 25px;
}
.strong-2{
    margin-top: 50px;
    margin-left: 14px;
    font-size: 25px;
}
.strong-3{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 25px;
}
div.div-1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 100px;
}
.span-4{
    color: gray;
    margin-left: 20px;
}
.span-5{
    color: rgb(165, 162, 162);
    margin-left: 20px;
    font-size: 20px;

}
.span-c{
    margin-left: 20px;
    color: rgb(247, 247, 122)
}
.span-6{
    color:rgb(165, 162, 162);
}
.strong-4{
    margin-left: 20px;
    font-size: 18px;
}
.button-1{
    font-size: 25px;
    margin-left: px;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    padding: 4px 87px;
    color: white;
    border-radius: 6px;
}
.button-1:hover{
    background-color: rgb(238, 237, 237);
    border: 1px solid  rgb(238, 237, 237);
    color: black;
}
.span-e{
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    padding: 5px 18px;
    margin-left: 10px;
    border-radius: 6px;
}
.div-2{
    text-align: center;
}
 /* contect style ended */
/* story style start */
 .contener{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
 overflow: scroll;
 scrollbar-width: none;
 }
 .img-box{
    height: 110px;
    width: 110px;
    border: 2px solid gray;
    border-radius: 50%;
    padding: 3px;
 }
 .imge{
    border-radius: 50%;
    height: 100%;
    width: 100%;

 }
 .contener .img-box span{
    margin-left: 25px;
 }
 /* story style endedd */
 /* menu style */
 .span-f{
    margin-top: 20px;
    font-size: 50px;
    color: gray;
margin: 20px 120px;
 }
 .meno{
    text-align: center;
    margin-top: 40px;

 }
 .span-f:hover,
 .span-f:active
 {
    color: white;
border-bottom: 3px solid white;
 }
/* menu style ended */
 /* post style start */
 .all-imgs{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(5,1fr);
 }
 .box-imgs{
    min-height: 283px;
   max-width:  264px;
    border: 2px solid black;
 }
 .all-imgs .box-imgs .imgs{
    height: 100%;
    width: 100%;
 }
/* post style endedd */
@media (max-width:952px){
    /* navar style stsrt */
.aro{
    font-size: 30%;
margin-left: 18px;
margin-top: 14px;
}
.span-1{
    font-size: 17px;
margin-left: 7px;

}
.span-a{
    float: right;
    font-size: 30px;
    margin: 15px 19px;
}
.span-b{
    float: right;
    font-size: 30px;
    margin: 15px 19px;
}
/* navar style ended */
/* profiel style start */
div.div-1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
}
.img-1{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid rgb(247, 169, 247);
    padding: 2px;
    margin-top: 10px;
    margin-left: 22px;

}
.span-2{
margin-top: 36px;
margin-left: 50px;
font-size: 19px;
}
/* profiel style ended */
/* contect style start */
.strong-1{
    margin-top: 40px;
margin-left: 4px;
font-size: 20px;
}
.strong-2{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 20px;
}
.strong-3{
    margin-top: 40px;
    margin-left: 14px;
    font-size: 20px;
}
.span-4{
    color: gray;
    margin-left: 15px;
}
.span-5{
    color: rgb(165, 162, 162);
    margin-left: 15px;
    font-size: 17px;
}
.span-c{
    margin-left: 15px;
    color: rgb(247, 247, 122)
}
.span-6{
    color:rgb(165, 162, 162);
}
.strong-4{
    margin-left: 15px;
    font-size: 14px;
}
.button-1{
    font-size: 20px;
    margin-left:  px;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    padding: 5px 35px;
    color: white;
    border-radius: 6px;
}
@keyframes myimg {
    0%{background: url("");}
    100%{background: url("img-box/a_16.jpg");background-attachment: fixed;}
}
.span-e{
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    padding: 5px 8px;
    margin-left: 13px;
    border-radius: 6px;
}
 /* contect style ended */
/* story style start */
.div-2{
    text-align: center;
}
 .img-box{
    height: 85px;
   width: 85px;
    border: 2px solid gray;
    border-radius: 50%;
    padding: 3px;
 }

 .contener .img-box span{
    margin-left: 25px;
 }
 .contener{
    overflow: scroll;
    scrollbar-width: none;
 }
   .contener{
    visibility:visible;
   }
    /* story style endedd */
 /* menu style */
 .span-f{
    margin-top: 15px;
    font-size: 30px;
    color: gray;
margin: 15px 70px;
 }
 .meno{
    text-align: center;
    margin-top: 30px;

 }
 /* menu style ended */
 /* post style start */
 .all-imgs{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4,1fr);
 }
 .box-imgs{
    min-height: 245px;
    max-width: 228px;
    border: 2px solid black;
 }
 .all-imgs .box-imgs .imgs{
    height: 100%;
    width: 100%;
 }
 /* post style endedd */
}

 @media (max-width:477px){
    /* navar style stsrt */
    .aro{
        font-size: 20%;
    margin-left: 9px;
    margin-top: 10px;
    }
    .span-1{
        font-size: 13px;
    margin-left: 5px;
    
    }
    .span-a{
        float: right;
        font-size: 20px;
        margin: 10px 10px;
    }
    .span-b{
        float: right;
        font-size: 20px;
        margin: 10px 13px;
    }
    /* navar style ended */
/* profiel style start */
    .img-1{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 2px solid rgb(247, 169, 247);
        padding: 2px;
        margin-top: 8px;
        margin-left: 19px;
    
    }
    .span-2{
    margin-top: 20px;
    margin-left: 4px;
    font-size: 15px;
    }
 /* profiel style ended */
/* contect style start */
    .strong-1{
        margin-top: 30px;
    margin-left: 2px;
    font-size: 15px;
    }
    .strong-2{
        margin-top: 30px;
        margin-left: 10px;
        font-size: 15px;
    }
    .strong-3{
        margin-top: 30px;
        margin-left: 10px;
        font-size: 15px;
    }
    div.div-1{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 30px;
    }
    .span-4{
        color: gray;
        margin-left: 10px;
    }
    .span-5{
        color: rgb(165, 162, 162);
        margin-left: 10px;
        font-size: 15px;
    
    }
    .span-c{
        margin-left: 10px;
        color: rgb(247, 247, 122)
    }
    .span-6{
        color:rgb(165, 162, 162);
    }
    .strong-4{
        margin-left: 10px;
        font-size: 9px;
    }
    .button-1{
        font-size: 15px;
        margin-left:  5px;
        background-color: rgb(53, 53, 53);
        border: 1px solid rgb(53, 53, 53);
        padding: 3px 25px;
        color: white;
        border-radius: 6px;
    }
    .span-d{
        font-size: 6px;
    }
    .span-e{
        background-color: rgb(53, 53, 53);
        border: 1px solid rgb(53, 53, 53);
        padding: 0px 9px;
        margin-left: 19px;
        border-radius: 6px;
        font-size: 12px;
    }
     /* contect style ended */
/* story style start */
    .div-2{
        text-align: center;
    }
     .img-box{
        height: 60px;
        width: 60px;
        border: 2px solid gray;
        border-radius: 50%;
        padding: 3px;
        margin: 0px 7px;
     }
     .contener{
        overflow: scroll;
        scrollbar-width: none;
     }
    
     .contener .img-box span{
        margin-left: 11px;
        font-size: 10px;
     }
      /* story style endedd */
 /* menu style */
     .span-f{
        margin-top: 10px;
        font-size: 15px;
        color: gray;
    margin: 10px 50px;
     }
     .meno{
        text-align: center;
        margin-top: 20px;
    
     }
     .span-f:hover,
     .span-f:active
     {
        color: white;
    border-bottom: 3px solid white;
     }
      /* menu style ended */
 /* post style start */
     .all-imgs{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(3,1fr);
     }
     .box-imgs{
       min-height: 230px;
       max-width: 194px;
        border: 2px solid black;
     }
     .all-imgs .box-imgs .imgs{
        height: 100%;
        width: 100%;
     }
      /* post style endedd */
    } 
    input{
        width:80%;
        margin-left: 100px;
        height: 30px;
        border-radius: 50px;
        color: gray;border: 0;
        font-size: 30px;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    input ::placeholder{
        text-align: center;
    }
    .spanz{
        margin-left: 30px;
    }
  div{
    display: inline;
  }
  p{
    color: aliceblue;
  }