body{
    background-color: rgb(34, 32, 32);
    margin: 0;
    padding: 0;
    color: white;
}
.aro{
    font-size: 45%;
margin-left: 23px;
margin-top: 16px;
}
.span-1{
    font-size: 20px;
margin-left: 9px;

}
.span-a{
    float: right;
    font-size: 50px;
    margin: 20px 25px;
}
.span-b{
    float: right;
    font-size: 50px;
    margin: 20px 25px;
}
.img-1{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 2px solid rgb(247, 169, 247);
    padding: 3px;
    margin-top: 12px;
    margin-left: 27px;

}
.span-2{
margin-top: 50px;
margin-left: 70px;
font-size: 25px;
}
.strong-1{
    margin-top: 50px;
margin-left: 5px;
font-size: 25px;
}
.strong-2{
    margin-top: 50px;
    margin-left: 14px;
    font-size: 25px;
}
.strong-3{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 25px;
}
div.div-1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 110px;
}
.span-4{
    color: gray;
    margin-left: 20px;
}
.span-5{
    color: rgb(165, 162, 162);
    margin-left: 20px;
    font-size: 20px;

}
.span-c{
    margin-left: 20px;
    color: rgb(247, 247, 122)
}
.span-6{
    color:rgb(165, 162, 162);
}
.strong-4{
    margin-left: 20px;
    font-size: 18px;
}
.button-1{
    font-size: 25px;
    margin-left:  20px;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    padding: 4px 99px;
    color: white;
    border-radius: 6px;
}
.span-e{
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    padding: 5px 18px;
    margin-left: 40px;
    border-radius: 6px;
}
.div-2{
    text-align: center;
}
/* img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
} 
.img-box{
    height: 50px0px;
    width: 50px;
    border: 2px solid gray;
    padding: 4px;
    border-radius: 50%;
} 
 .all-story{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 3px;
} 
.box{
    display: grid;
    grid-template-columns: repeat(8,1fr);

} */
 .contener{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
 }
 .img-box{
    height: 110px;
    width: 110px;
    border: 2px solid gray;
    border-radius: 50%;
    padding: 3px;
 }
 .imge{
    border-radius: 50%;
    height: 100%;
    width: 100%;

 }
 .contener .img-box span{
    margin-left: 25px;
 }
 .span-f{
    margin-top: 20px;
    font-size: 50px;
    color: gray;
margin: 20px 140px;
 }
 .meno{
    text-align: center;
    margin-top: 40px;

 }
 .span-f:hover{
    color: white;
border-bottom: 3px solid white;
 }
 .all-imgs{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(5,1fr);
 }
 .box-imgs{
    height: 260px;
    width: 245px;
    border: 2px solid black;
 }
 .all-imgs .box-imgs .imgs{
    height: 100%;
    width: 100%;
 }