:root{
    --p-color:#465b52;
    --h-color:#222;
    --dark-green:#088178;
    --header-color:#e3f6e3;
    --border-color:#cce7d0;
    --child-one:#fddde4;
    --childe-tow:#cdebbc;
    --child-three:#d1e8f2;
    --child-four:#cdd4f8;
    --child-five:#f6dbf6;
    --light-green:#e8f6ea
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header style */
#header{
    position: sticky;
display: flex;
top: 0;
right: 0;
background-image: var(--header-color);
justify-content: space-between;
box-shadow: 0 3px 13px rgba(0, 0,0,0.5);
 width: 100%;
 height:70px;
background-color: white;
z-index: 999;
}
#header .logo{
    height: 70px;
  
}
#header #ul{
    display: flex;
    justify-content: center;
    line-height: 70px;
}
#ul li{
    list-style: none;
    padding: 0 30px;
}
#ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
#ul li a:hover,
#ul li a:active
{
color: var(--dark-green);
}
#ul li a.border-bottom:hover,
#ul li a.border-bottom 
{
    border-bottom: 2px solid var(--dark-green);
    transition: 0.3s ease;
    color: var(--dark-green);
}
#ul li a:hover,
#ul li a:active{
    border-bottom: 2px solid var(--dark-green);
    transition: 0.3s ease;
    color: var(--dark-green);
}
#icon{
    display: none;
    line-height: 70px;
}
/* slider style */

#slider{
    background-image: url("img-box/kh.jpg");
    background-size: cover;
    
margin-left: 15px;
    background-position:top 20% right 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    animation: bg-chenger;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes bg-chenger{
    0%{
background-image: url("img-box/kh.jpg");
background-size: cover;
    }
    100%{
background-image: url("img/hero2.jpg");
background-size: cover;
    }
}
h1{
    font-weight: 600;
    font-size: 50px;
    color: var(--dark-green);
}
h2{
    font-weight: 600;
    font-size: 40px;
    color: var(--dark-green)
}
h3{
    font-weight: 600;
    font-size: 30px;
    color: var(--dark-green)
}
p{
    color: var(--p-color);
    font-size: 24px;
}
#slider button{
width: 130px;
padding: 14px 30px;
text-align: center;
background-color: var(--dark-green);
border: 0;
border-radius: 10px;
font-size: 16px;color: white;
margin: 18px 25px;
}
/* slider style endeend */
/* features style begin */
.contener-1{
    display: flex;
}
.div-box{
    height:270px;
    width: 210px;
    border: 1px solid var(--h-color);
    box-shadow:2px 2px 2px var(--header-color);
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: 30px;
    border-radius: 5px;
}
.contener-1 .div-box:hover{
    cursor: pointer;
    box-shadow: 10px 10px 36px rgba(0,0,0,0.07);
}
.contener-1 .div-box img{
    height: 70%;
    width: 90%;
}
.contener-1 .div-box h6{
  margin: 26px 5px;
  background-color:gray;
  padding: 4px 24px;
font-weight: 1000;
}
/* features style endend */
/* product section start */
.Products{
    text-align: center;
}
.pro-box{
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    flex-wrap: wrap;
}
.pro-box .product{
    width:20%;
    min-width: 180px;
  
    border: 1px solid var(--border-color);
    box-shadow:10px 10px 36px rgba(0,0,0,0.06);
    padding: 20px;
    margin-left: 5px;
  
    border-radius: 20px;
    position: relative;
}
.pro-box .product img{
    width: 100%;
    height:230px;
    border-radius: 20px;
}
.pro-box .product .ditels{
    text-align: start;

}
.Products h1{
color: black;
}
.pro-box .product .ditels span{
    color: gray;
    font-size: 14px;
}
.pro-box .product .ditels h4{
font-size: 20px;
padding-top: 7px;
}
.pro-box .product .ditels h5{
    font-size: 20px;
    padding-top: 7px;
    color: var(--dark-green);
}
.pro-box .product .shipping{
    width: 40;
    height: 40px;
    line-height: 40px;
    background-color: var(--light-green);
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    right: 16px;
  padding: 0 10px;
    text-align: center;
}
/*  */
/*  */
.banner .banner-text{
    text-align: center;
    margin-top: 30px;
background-image: url("img/banner/b-kh.jpg");
height: 30vh;
padding: 50px 0;
width: 100%;
background-size: cover;
}
.banner .banner-text h3 span{
    color: red;
}
.banner .banner-text h2{
    font-weight: 700;
}
/*  */
.news-arriver{
    text-align: center;
    margin-top: 30px;
background-image: url("img/banner/b14.png");
background-color: black;
height: 30vh;
padding: 50px 0;
width: 100%;
background-size: cover;
}
.news-arriver .text h2,p{
    color: white;
    text-align: start;
}
.news-arriver .form{
    width: 40%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 12px;
    margin-top: 0;
}
.news-arriver .form input{
    height: 2.3em;
    border: 0;
    text-align: center;
}
.news-arriver .form  button{
    background-color: white;
    height: 2.3em;
    border: 0;
padding-right: 9px;
    color: gray;
    text-align: center;
}
.news-arriver .form  button:hover{
    background-color: var(--dark-green);
}
/*  */
.all{
    background-image: url("img/banner/b14.png");
    background-color: black;
    height: 75vh;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
}
.contint{
    display: flex;
}
.contint p{
    color: gray;
    padding-bottom: 20px;
}
.margin-left{
    padding-left: 18px;
}
.contint li{
    text-decoration: none;
    font-weight: 700;
    padding: 6px;
    list-style: none;
}
.contint :nth-child(4).sharh{
    border-right: 2px solid var(--border-color);
    padding-right: 22px;
}
.sharh{
    height: 60vh;
}
.sharhh{
    margin-left: 20px;
    font-size: 20px;
}
.sharhh span.blue{
    color: blue;
}
.sharhh span.white{
    color: white;
}
.sharhh img{
    margin: 3px 10px;
}.all-2{
    display: flex;
    margin: 30px;
}
.all-2 .first span{
    margin: 3px 30px;
    font-weight: 800;
    font-size: 23px;
}
.all-2 .img-f{
margin-left: 30px;
}
.all-2 .img-f img{
margin: 3px 20px;
}
@media (max-width:950px){
#ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        height: 100vh;
        padding-left: 12px;
        background-color: var(--header-color);
        padding-top: 30px;
        position:fixed;
        right: -300px;
        top: 0;
    }
    #icon{
        display: block;
      
    }
    #icon #bar{
        padding: 0 12px;
font-size: 20px;
color:#222;
line-height: 70px;
    }
    #header .a{
        right: 0;
    }
}
@media (max-width:774px){
    #icon #bar {
        padding: 0 6px;
        font-size: 14px;
    }
    h2 {
        font-size: 28px;
    }
    h3{
        font-size: 35px;

    }
    .contener-1 {
        display: flex;
        flex-wrap: wrap;
    }
    .div-box {
        height: 230px;
        width: 170px;
        padding: 20px;
        text-align: center;
        align-items: center;
        margin: 30px;
        border-radius: 5px;
    }
}