*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.contener{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 1.9fr 1.2fr 1fr;
    grid-template-areas:"div div div div" "nav nav nav nav" "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
min-height: 100vh;
grid-gap: 6px;
}
nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100%;
    min-height: 60px;
    background-color: black;
    color: white;
margin: 0;
padding: 0;
}
main{
    background-color:rgb(155, 155, 249);
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.main{
text-align: center;
background-color: white;
height: 80px;
width: 60px;
margin-left: 105px;
margin-top: 25px;
padding-top: 32px;
}
.sidebar{
    background-color: rgb(228, 222, 222);
    grid-area: sidebar;
}
.content1{
    background-color:white;
    grid-area: content1;
    text-align: center;
    padding-top: 40px;
    box-shadow: 2px 2px 5px black;
    grid-gap: 10px;
}
.item{
    padding-top: 30px;
    text-align: center;
}
.item:hover{
    background-color:rgb(23, 128, 23) ;
}
.content2{
    background-color: white;
    grid-area: content2;
    text-align: center;
    padding-top: 40px;

    box-shadow: 2px 2px 5px black;
    grid-gap: 10px;
}
.content3{
    background-color:white;
    grid-area: content3;
    text-align: center;
    padding-top: 40px;
    box-shadow: 2px 2px 5px black;
    grid-gap: 10px;
}
.color{
    color: rgb(238, 90, 90);
}
footer{
    background-color:white;
    grid-area: footer;
    text-align: center;
}
.naz{
    background-color: white;
grid-area: div;
display: grid;
grid-template-columns: repeat(8,1fr);
;
}
img{
    height: 70px;
    width: 70px;
    margin-left: 13px;
}
.contener nav li{
    text-decoration: none;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
}
 li:hover{
    background: rgb(23, 128, 23);
 
}
.meno{
    line-height: 50px;
margin-top: 10px;
margin-left: 20px;
}
.h1{
    margin-left: 10px;
}
.sid-1{
    margin-left: 12px;
  
}
.sid-1:hover{
    background-color: rgb(23, 128, 23) ;
   padding-right: 130px;
   padding: 3.9px 70px 3.9px 0;
}
.b{
    background-color: rgb(54, 146, 54);
    border-radius: 40%;
    padding: 9px 20px;
    border: 1px solid rgb(62, 163, 62);
    color: white;
    }
    
    .c{
        background-color: rgb(182, 181, 181);
        border: 1px solid rgb(185, 185, 185);
        border-radius: 40%;
        padding: 9px 20px;
        color: white;
    }
    box{
        
    }