:root{
    --p-color:#465b52;
    --h-color:#222;
    --dark-green:#088178;
    --header-color:#e3f6e3;
    --border-color:#cce7d0;
    --child-one:#fddde4;
    --childe-tow:#cdebbc;
    --child-three:#d1e8f2;
    --child-four:#cdd4f8;
    --child-five:#f6dbf6;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navar{
display: flex;
justify-content: center;
gap: 200px;
position: sticky;
height: 105px;
background-color: rgb(255, 254, 254);
box-shadow: 2px 2px 4px gray;
top: 0;
right: 0;
}
.navar .img-nav{
    height: 70px;
width: 70px;
    text-align: center;
    align-items: center;

}
.navar .img-nav img{
    height: 100%;
    width: 100%;
    margin-left: 20px;
}
 .navar .img-nav a{
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    color: black;
 }
 .navar .img-nav a:hover{
    color: var(--dark-green);
    border-bottom:2px solid var(--dark-green);
    text-align: center;
    transition: 2s;
 }
 .navar .img-nav span{
    text-align: center;
 }
 .margin{
    margin-right: 20px;
 }
 .navar .margin-left{
    margin-left: 23px;
 }
 .navar .img-nav .margin-r{
    margin-right: 90px;
 }
 /* nav style andednd */
 .bar .contener-img{
    width: 100%;
    height: 40vh;
 }
    /* background-image: url("navar/Screenshot 2025-02-13 152022.png");
   
    /* animation: bg-chenger;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
 }
 @keyframes bg-chenger{
    0%{
background-image: url("navar/Screenshot 2025-02-13 152022.png");
background-size: cover;
    }
    100%{
background-image: url("img/hero2.jpg");
background-size: cover;
    } */

 .bar .contener-img img{
    height: 100%;
    width: 100%;
   
 }
 /* img style endend */
.contener-1{
    width: 100%;
    height: 50vh;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid var(--border-color);
    margin-top: 10px;
}
.contener-1 h1{
    display: flex;
    justify-content: center;
}
 .img-box{
    height: 230px;
    width: 120px;;
   margin: 0px 50px;
    text-align: center;
    padding: 0 20px;
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 1px gray;
}
 .img-box img{
    height: 80%;
    width: 90%;

}
.contener-1 .img-box h3{
    padding-top: 0;
}
/*  */
.clider{
    display: flex;
flex-wrap: wrap;
}
.contener-2{
    width: 100%;
    height: 50vh;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid var(--border-color);
    margin-top: 10px;   
}
.contener-2 h1{
    margin-left: 40px;
}
.contener-3{
    width: 40%;
    height: 92vh;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid var(--border-color);
    margin-top: 10px;
}
.contener-3 .img-box{
    margin-top: 10px;
}
.contener-4{
    display: flex;
}
.contener-3 h1{
    margin-left: 20px;
}
.img{
    width: 800px;
    height: 560px;
    margin-top: 10px;
}