 :root{
    --p-color:#465b52;
    --h-color:#222;
    --dark-green:#088178;
    --header-color:#e3f6e3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* navar */
.navar{
    width: 100%;
display: flex;
justify-content: center;
gap: 200px;
position: sticky;
height: 105px;
background-color: rgb(255, 254, 254);
box-shadow: 2px 2px 4px gray;
top: 0;
right: 0;
z-index: 999;
}
.navar .img-nav{
    height: 70px;
width: 70px;
    text-align: center;
    align-items: center;

}
.navar .img-nav img{
    height: 100%;
    width: 100%;
    margin-left: 20px;
}
 .navar .img-nav a{
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    color: black;
 }
 .navar .img-nav a:hover{
    color: var(--dark-green);
    border-bottom:2px solid var(--dark-green);
    text-align: center;
    transition: 2s;
    width: 100%;
 }
 .navar .img-nav a:hover,
 .navar .img-nav span.margin a.active
 {
     border-bottom: 2px solid var(--dark-green);
     transition: 0.3s ease;
     color: var(--dark-green);
 }
 .navar .img-nav span{
    text-align: center;
 }
 .margin{
    margin-right: 20px;
 }
 .navar .margin-left{
    margin-left: 23px;
 }
 .navar .img-nav .margin-r{
    margin-right: 90px;
 }
    /* stayl shop.html */
.img-box-1{
    height: 300px;
    width: 100%;
    margin: auto;
    border-radius: 12px;
    position: relative;
    }
    .img-box-1 .b-g{
        height: 100%;
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 2px 2px var(--h-color) ;
    }
    .img-box-1::before{
        content: "50%  discount for you";
        font-size: 45px;
        position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: .5s;
color: white;
font-size: 18px;
margin-top: -160px;
opacity: 0;
z-index: 989;
    }
    .img-box-1:hover::before{
        margin-top: 0;
        opacity: 1;
    }
    .img-box-1::after{
        content: "";
        background-color:var(--h-color);
        position: absolute;
        bottom: -70px;
        left: 0;
border-radius: 12px;
height: 100%;
width: 100%;
opacity: 0;
z-index: 898;
    }
   .img-box-1:hover::after{
    opacity: 0.3;
    bottom: 0;
   }
   /* detiles */
   .ditels{
    text-align: start;
   }
   .ditels span{
    color: gray;
    font-size: 14px;
}
.ditels h4{
font-size: 20px;
padding-top: 7px;
}
 .img-box h5{
    font-size: 20px;
    padding-top: 7px;
    color: var(--dark-green);
}
 .img-box .shipping{
    width: 40;
    height: 40px;
    line-height: 40px;
    background-color: gray;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    right: 16px;
  padding: 0 10px;
    text-align: center;
}
   /* page */
   .continer{
   display: flex;
   flex-wrap: wrap;
    margin-top: 20px;
   text-align: center;
   align-items: center;
   justify-content: center;
   gap: 40px;
   }
   .img-box{
    height: 430px;
    width: 340px;
    margin-left: 20px;
    text-align: center;
    padding: 20px 15px 60px 15px;
    position: relative;
    border-bottom: 0.4px solid black;
    border-top: 0.4px solid black;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.06);
    border-radius: 12px;
   }
   .continer .img-box img{
    height: 90%;
    width: 100%;
  border-radius: 12px;
   }
   .img-box:hover{
    border: 1px solid var(--p-color);
    box-shadow: 1px 1px 0.07px var(--h-color);
   }
   .contener{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
   }
   .contener .img-box img{
    height: 100%;
    width: 100%;
   }
   .hover:hover::before{
content:"discount";
position: absolute;
z-index: 989;
transform: translate(-50%,50%);
top: 40%;
left: 50%;
text-align: center;
   }
   .reletiv{
    position: relative;
   }
   .posation{
    position: absolute;
    display: flex;
    z-index: 989;
    height: 60px;
    width: 94%;
    align-items: center;
    text-align: center;
    top: 275px;
   }
   .posation .imgs{
    height: 45px;
    width: 45px;
    display: none;
   }
   .reletiv:hover ~.posation .imgs{
    display: block;
   } 