body{
    background-color: rgb(193, 189, 189);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.img-box{
    height: 110px;
    width: 110px;
    border-radius: 50%;
}.dell{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}.naz{
    margin-left: 20px;
    font-size: 19px;
}.div-2{
margin-top: 50px;
}
.contener{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}.stor{
    margin-left: 35px;
    font-size: 25px;
}.storr{
    margin-left: 4px;
    font-size: 25px;
}
.text{
    margin-left: 12px;margin-top: 70px;
    font-size: 25px;
}
 .nav{
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
    background-color: rgb(221, 230, 248);
padding: 10px;
  
}
.span{
    margin:12px 120px;

}
.spann{
    margin:12px 120px;
}
.span:hover{
    background-color:rgb(193, 189, 189) ;
    padding: 20px;
}
.spann:hover{
    background-color:rgb(193, 189, 189) ;
    padding: 20px;
}
.nazdana{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 10px;
}
.logo{
    width: 331px;
    height: 331px;
}
/* .all{
    display: block;
}
.spann:hover ~.all{
display: none;
} */
.nazdana .logo img{
    height: 100%;
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
}.ali{
    font-size: 30px;
}
.bell{
    float: right;
  margin-right: 20px;
  font-size: 30px;
  margin-top: 15px;
}
.ar{
    font-size: 6px;
}
div{}