body{
    background-color: black;
}


.contener{
    text-align: center;
    align-items: center;
    height: 200px;
    width: 200px;
   margin-top: 200px;
    background-color: blue;
   animation: div 5s infinite;
    margin-left: 100px;
}
@keyframes div{
    0%{background-color: blueviolet;}
    40%{background-color: rgb(7, 1, 14);}
    80%{background-color: rgb(238, 235, 241);}
    100%{background-color: rgb(100, 88, 49);}
}

.imgr{
    height: 200px;
    width: 200px;
   
    animation: naz 5s infinite;
    border: 2px solid wheat;
}
@keyframes naz{
    0%{transform: rotatez(300deg);border-radius: 50%;transform: 10s;}
}
div.box{
    background-color: blue;
    height: 230px;
    width: 230px;
    float: right;
margin-right: 100px;
border-radius: 50%;
margin-bottom: 100px;
position: absolute;
top: 30%;
left: 60%;

}
.smal-box{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blueviolet;
    left: 68%;
    animation: box 5s infinite;
    animation-duration: alternate;
}
@keyframes box{
    0%{left: 69;}
    10%{left: 72%;bottom: 14px;}
    20%{left: 72%;right: 19%;}
  
  
}
