body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}.div_0{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}.one_1{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 30px;
}.Contact{
  display: flex;
}.icon{
  height: 25px;
  width: 25px;
  background-color: white;
  color: black;
  font-size: 18px;
  position:relative;
  top: -50px;
  left: 75px;
  border-radius: 50px;
  padding-left: 9px;
  padding-top: 7px;
}
.type{
    font-size: 18px;
    margin-top: 6px;
}.img_1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -18px;
}.box_2{
    font-size: 26px;
    float: right;
    margin-right: 10px;
}.box_3{
    font-size: 28px;
    float: right;
    margin-right: 30px;
}.box_4{
    font-size: 20px;
    color: black;
    border: 1px solid black;
    background-color:white;
    margin-right: 20px; 
    border-radius: 50px; 
    padding-left: 6px;
    padding-top: 6px;
    height: 25px;
    width: 25px;
position: relative;
top: -22px;
left: -30px;}
/* }nav */
nav{
    width:99%;
    height: 30px;
    background-color: #1b2f5d;
    margin-right: 100px;
    position:relative;
}.type_1{
    color: white;
    line-height: 30px;
    margin-left: 200px;
    font-size: 30px;
}.type_2{
    color: white;
    line-height: 30px;
    position: relative;
    right: -200px;
    white-space-collapse: collapse;
    font-weight:lighter;
    font-size: 30px;
    font-style: italic;
}.type_3{
    color: white;
    line-height: 30px;
    position: relative;
    right: -400px;
    white-space-collapse: collapse;
    font-weight:lighter;
    font-size: 30px;
    font-style: italic;
}.type_3:hover{
  background-color: black;
}.type_1:hover{
  background-color: black;
}.type_2:hover{
  background-color: black;
}
.icon_1{
    float: right;
    margin-right: 10px;
    line-height: 30px;
    color: white;
    font-size: 20px;
    margin-top: 4px;
}.icon_1:hover{
  background-color: white;
  color: black;
}
.icon_2:hover{
  background-color: white;
  color: black;
}
.icon_2{
    float: right;
    margin-top: 5px;
position: relative;
left: 36px;
    margin-right: 10px;
    line-height: 30px;
    color: white;
    font-size: 10px; 
}.icon_3{
    float: left;
    position: relative;
    right: 984px;
    top: 10px;
    font-size: 30px;
}.icon_4{
    float: left;
    position: relative;
  left: 220px;
    top: 10px;
    font-size: 30px;
}span_4{
 height: 2px;
 width: 100%;
 background-color: black;
}
/* name */
    .b_1{
      padding-left: 14px;
    }
    .b22{
      margin-left: 20px;
    }
    .b_2{
      padding-left: 8px;
    }.b-2{
      padding-left: 12px;
    }.b_22{
padding-left: 18px;
    }
    /* name anded */
    /* img-box small */
    .img_0{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 4px solid black;
      outline: 5px solid grey;
    }
    .full{
      display: grid;
      grid-template-columns: repeat(8,1fr);
      
    }
/* section */
section{
    border-radius: 9px;
}
.div_one{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}.section_1{
    background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۳۹۲۶_Instagram.jpg");
    height: 50vh;
    width: 95.5%;
     background-size: cover;
     animation: mymove 6s infinite;
     position: relative;
     top: -180px;
     left: 2px;
  }@keyframes mymove{
    0%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۴۹۵۳_Google.jpg");
    }50%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۵۰۱۴_Google.jpg");
    }
    100%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۴۹۴۳_Google.jpg");
    }
  }section:hover{
    transform: rotateY(360deg);
    transition: 4s;
  }
.section_2{
    background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۳۹۲۶_Instagram.jpg");
    height: 50vh;
    width: 95.5%;
     background-size: cover;
     animation: mymoove 6s infinite;
     position: relative;
     top: -180px;
     margin-left: 8px;
  }@keyframes mymoove{
    0%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۴۱۱۷_Google.jpg");
    }50%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۴۵۴۲_Google.jpg");
    }
    100%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۴۱۲۵_Google.jpg");
    }
  }
.section_3{
    background-image: url("f.jpg");
    height: 50vh;
    width: 95.5%;
     background-size: cover;
     animation: myymove 6s infinite;
     position: relative;
     top: -180px;
     margin-left: 10px;
  }@keyframes myymove{
    0%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۵۱۳۲_Google.jpg");
    }50%
    {
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۵۱۵۱_Google.jpg");
    }
    100%{
      background-image: url("f7\ -\ Copy.jpg");
    }
  }
.section_4{
    background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۵۳۰۲_Google.jpg");
    height: 50vh;
    width: 95.5%;
     background-size: cover;
     animation: miymove 6s infinite;
     position: relative;
     top: -180px;
     margin-left: 10px;
  }@keyframes miymove{
    0%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۵۷۰۶_Google.jpg")
    }50%{
      background-image: url("f8\ -\ Copy\ -\ Copy.jpg");
    }
    100%{
      background-image: url("Screenshot_۲۰۲۵۰۲۰۳_۱۲۵۷۳۳_Google.jpg");
    }
  }
  /* section anded */
 .logo_one{
    position: relative;
    top: -175px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 6px;
    background-color: rgb(255, 255, 255);
}img{
  height: 50vh;
  width: 100%;
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);  }
  @media(max-width:952px){
    .img_1{
       height: 90px;
       width: 90px;
       border-radius: 50%;
       margin-top: -18px;
   }.box_2{
       font-size: 24px;
       float: right;
       margin-right: 10px;
   }.box_3{
       font-size: 26px;
       float: right;
     
       margin-right: 28px;
   }.box_4{
       font-size: 20px;
       color: black;
       border: 1px solid black;
       background-color:white;
       margin-right: 20px; 
       border-radius: 50px; 
       padding-left: 6px;
       padding-top: 6px;
       height: 20px;
       width: 20px;
   position: relative;
   top: -22px;
   left: -30px;
   }
   nav{
     width:97%;
     height: 30px;
     background-color: #1b2f5d;
     margin-right: 100px;
     position:relative;
 }
 .type_1{
     line-height: 30px;
     margin-left: 196px;
 }.type_2{
     color: white;
     line-height: 30px;
     position: relative;
     right: -190px;
     white-space-collapse: collapse;
     font-weight:lighter;
     font-size: 25px;
     font-style: italic;
 }.type_3{
     color: white;
     line-height: 30px;
     position: relative;
     right: -394px;
     white-space-collapse: collapse;
     font-weight:lighter;
     font-size: 25px;
     font-style: italic;
 }.icon_2{
   float: right;
   margin-top: 5px;
 position: relative;
 left: 30px;
   margin-right: 10px;
   line-height: 30px;
   color: white;
   font-size: 10px; 
 }.icon_3{
   float: left;
   position: relative;
   right: 974px;
   top: 10px;
   font-size: 30px;
 }.icon_4{
   float: left;
   position: relative;
 left: 200px;
   top: 10px;
   font-size: 30px;
 }.span_4{
 height: 2px;
 width: 100%;
 }.logo_one{
   position: relative;
   top: -165px;
   width: 100%;
   gap: 6px;
 }img{
 height: 50vh;
 width: 100%;  
 }
  }@media(max-width:890px){
    .img_1{
      height: 80px;
      width: 80px;
      border-radius: 50%;
      margin-top: -18px;
  }.box_2{
      font-size: 20px;
      float: right;
      margin-right: 8px;
  }.box_3{
      font-size: 20px;
      float: right;
    
      margin-right: 24px;
  }.box_4{
      font-size: 20px;
      color: black;
      border: 1px solid black;
      background-color:white;
      margin-right: 20px; 
      border-radius: 50px; 
      padding-left: 6px;
      padding-top: 6px;
      height: 20px;
      width: 20px;
  position: relative;
  top: -22px;
  left: -26px;
  }
  nav{
    width:96%;
    height: 30px;
    background-color: #1b2f5d;
    margin-right: 98px;
    position:relative;
}.type_1{
    line-height: 30px;
    margin-left: 86px;
    font-size: 18px;
}.type_2{
    color: white;
    line-height: 30px;
    position: relative;
    right: -170px;
    white-space-collapse: collapse;
    font-weight:lighter;
    font-size: 18px;
    font-style: italic;
}.type_3{
    color: white;
    line-height: 30px;
    position: relative;
    left: 300px;
    white-space-collapse: collapse;
    font-weight:lighter;
    font-size: 18px;
    font-style: italic;
}.icon{
  left: 60px;
}
.icon_2{
  float: right;
  margin-top: 5px;
position: relative;
left: 28px;
  margin-right: 8px;
  line-height: 30px;
  color: white;
  font-size: 8px; 
}.icon_3{
  float: left;
  position: relative;
  right: 964px;
  top: 10px;
  font-size: 28px;
}.icon_4{
  float: left;
  position: relative;
left: 196px;
  top: 10px;
  font-size: 28px;
}.span_4{
height: 2px;
width: 100%;
}.logo_one{
  position: relative;
  top: -165px;
  width: 100%;
  gap: 5px;
}img{
height: 48vh;
width: 100%;
}
.b_22{
  padding-left: 14px;
}
.section_1{
  width: 93%;
}.section_2{
  width: 93%;
}.section_3{
  width: 93%;
}.section_4{
  width: 93%;

}
.b22{position: relative;
  left: -80px;
  top: 80px;
}
.copy{
  display: none;
}.img_0{
  height: 70px;
  width: 70px;
  border: 2px solid black;
  outline: 2px solid grey;
}.b22{
  position: relative;
  top: 2px;
  left: -14px;
  display: block;
}
.b_2{
  display: block;

}.b-2{
  display: block;
}.b-1{
  padding-left: 6px;
}.b--1{
  position: relative;
  top: 74px;
  left: -95px;
}
  }
  @media(max-width:620px){
    .img_1{
      height: 70px;
      width: 70px;
      border-radius: 50%;
      margin-top: -18px;
  }.box_2{
      font-size: 18px;
      float: right;
      margin-right: 10px;
  }.box_3{
      font-size: 18px;
      float: right;
    
      margin-right: 28px;
  }.box_4{
      font-size: 20px;
      margin-right: 20px; 
      border-radius: 50px; 
      padding-left: 6px;
      padding-top: 6px;
      height: 18px;
      width: 18px;
  position: relative;
  top: -22px;
  left: -30px;
  }
  nav{
    width:99%;
    height: 30px;
    margin-right: 100px;
    position:relative;
}.type_1{
    line-height: 30px;
    margin-left: 76px;
    font-size: 18px
}.type_2{
    line-height: 30px;
    position: relative;
    right: 20px;
    white-space-collapse: collapse;
    font-weight:lighter;
    font-size: 18px;
    font-style: italic;
}.type_3{
    line-height: 30px;
    position: relative;
    left: -14px;
    white-space-collapse: collapse;
    font-weight:lighter;
    font-size: 18px;
    font-style: italic;
}.icon{
  top: -38px;
  height: 18px;
  width: 18px;
  left: 50px;
  font-size: 12px;
}
.icon_2{
  float: right;
  margin-top: 5px;
position: relative;
left: 30px;
  margin-right: 10px;
  line-height: 30px;
  font-size: 10px; 
}.icon_3{
  float: left;
  position: relative;
  right: 954px;
  top: 10px;
  font-size: 20px;
}.icon_4{
  float: left;
  position: relative;
left: 190px;
  top: 10px;
  font-size: 20px;
}.span_4{
height: 2px;
width: 100%;
}.logo_one{
  position: relative;
  top: -155px;
  width: 100%;
  gap: 4px;
}img{
height: 36vh;
width: 100%;
   
}.box_{
  display: none;
}
.full{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  
}.img_box{
  padding-top: 18px;
  padding-left: 4px;
}
.img_0{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid black;
  outline: 2px solid grey;
}.Contact{
display: flex;
gap:90px;
font-size: 16px;
}
.section_1{
  height: 36vh;
  width: 100%;
}
.section_2{
  height: 36vh;
  width: 100%;
}
.section_3{
  height: 36vh;
  width: 100%;
} 
.section_4{
  height: 36vh;
  width: 100%;
  display: none;
}
.div_one{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8px;
  margin-top: -48px;
}
.logo_one{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: -26px;
}.img_box{
  height: 96%;
  width: 96%;
}.section_1{
  width:140px;
}.section_2{
  width: 140px;
}.section_3{
  width:140px;
}
.b22{
  position: relative;
  top: 2px;
  left: -14px;
  display: block;
}
.b_2{
  display: block;
}.b-2{
  display: block;
}.b-1{
  padding-left: 6px;
}
  }  